/*currently only prefixed for webkit*/
body {
	display: -webkit-flex;
	-webkit-justify-content: center;
	font-family: "Helvetica Neue", Helvetica, Arial, Sans-Serif;
	font-weight: 300;
}
.range-container {
	width: 90%;
	display: -webkit-flex;
	-webkit-flex-wrap: wrap;
	margin-top: 2rem;
}

.label-container {
	-webkit-flex-basis: 100%;
	display: -webkit-flex;
	-webkit-flex-wrap: nowrap;
	-webkit-justify-content: space-between;
	margin-top: 2rem;
}

.label {
	color: grey;
	font-size: 1rem;
	margin-top: 1rem;
	text-align: center;
	max-width: 3rem;
	-webkit-tap-highlight-color: transparent;  /*gets rid of black flash on click of track*/
}
.slider-container {
	position: relative;
	height: 100%;
	width: 100%;
}
.slider {
	position: absolute;
	left:0;
}

.slider {
	width: 100%;
}

.range-fill {
	position:absolute;
	top:4px;
	left:4px;
	background-color: #fbcdb2;
	height: 12px;
	pointer-events: none;
	border-radius: 10px;
}

input[type=range] {
	-webkit-appearance: none;
	-webkit-flex-basis: 100%;
	-webkit-tap-highlight-color: transparent;
	background: transparent;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 10rem;
    height: 1rem;
    background: transparent;
    border: 2px solid #f36f21;
    border-radius: 10px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    background: #f36f21;
    margin-top: -1.8rem;
    border: 2px solid #fff;
    cursor: pointer;
    box-shadow: 0px 5px 5px -3px #d9d9d9;
}

input[type=range]:focus {
    outline: none;
}

/*MEDIA QUERIES*/

@media (min-width:992px){ 
	.range-container {
		width: 70%;
		max-width: 60rem;
		display: -webkit-flex;
		-webkit-flex-wrap: wrap;
		margin-top: 5rem;
	}
	.label-container {
		margin-top: 2rem;
	}
	.label {
		font-size: 2rem;
		max-width: 8rem;
	}
	.slider-container {
		height: 2.5rem;
	}
	.range-fill {
		border-radius: 20px;
		height: 36px;
	}
	input[type=range]::-webkit-slider-thumb {
		width: 6rem;
		height: 6rem;
	}
	input[type=range]::-webkit-slider-runnable-track {
		width: 10rem;
		height: 2.5rem;
		border-radius: 20px;
	}
}

@media(min-width:1200px){
	.range-container {
		width: 80%;
	}
	.label {
		max-width: 10rem;
	}
}